@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Hanken+Grotesk&family=Lexend&family=Montserrat&family=Outfit&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fraunces:opsz@9..144&family=Hanken+Grotesk&family=Lexend&family=Montserrat&family=Outfit&family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 95%);
	width: 100vw;
	height: auto;
}

img {
	display: block;
}

main {
	background-color: hsl(0, 0%, 95%);
	height: 100%;
}

.mainContainer {
	display: flex;
	flex-flow: column nowrap;
	background-color: hsl(0, 0%, 95%);
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.mainContainer div {
	max-width: 90vw;
	padding: 3rem;
}

/* Desc */
.mainContainer p {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: Lexend, cursive;
	margin-top: 2rem;
}

/* Type of car */
.mainContainer figcaption {
	color: hsl(0, 0%, 95%);
	font-size: 2rem;
	margin-top: 2rem;
}

/* Learn More */
.mainContainer span {
	background-color: hsl(0, 0%, 95%);
	width: fit-content;
	border-radius: 25px;
	padding: .5rem 1.5rem;
	font-family: Lexend, cursive;
	margin-top: 2rem;
	display: block;
}

.mainContainer div:first-child {
	background-color: hsl(31, 77%, 52%);
}

.mainContainer div:nth-child(2) {
	background-color: hsl(184, 100%, 22%);
}

.mainContainer div:nth-child(3) {
	background-color: hsl(179, 100%, 13%);
}

a {
	text-decoration: none;
}

.learnMoreSedans {
	white-space: nowrap;
	color: hsl(31, 77%, 52%);
}

.learnMoreSUVs {
	white-space: nowrap;
	color: hsl(184, 100%, 22%);
}

.learnMoreLuxury {
	white-space: nowrap;
	color: hsl(179, 100%, 13%);
}

@media (min-width: 376px) {
	.mainContainer {
		height: 100%;
		margin: 25vh auto 10px auto;
		margin-top: 25vh;
		max-width: 50vw;
		flex-flow: row nowrap;
		align-items: stretch;
	}
}